/* Modified and based from: https://codepen.io/Bilal1909/pen/KKzjgzR */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, rgb(243, 193, 100), rgb(255, 126, 5));
    font-family: sans-serif;
}

.center {
    position: relative;
    padding: 50px 50px;
    background: #fff;
    border-radius: 10px;
}

.center h1 {
    font-size: 2em;
    border-bottom: 5px solid rgb(98, 30, 255);
    padding: 10px;
    color: #000;
    margin-bottom: 60px;
    padding-left: 10px;
}

.center .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
}

.center .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}
.center .inputbox:last-child {
    margin-bottom: 0;
}
.center .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
}
.center .inputbox [type="submit"] {
    width: 50%;
    height: 100%;
    background: rgb(110, 216, 97);
    color: #fff;
    border: #fff;
    font-size: 2em;
}

.center .inputbox:hover [type="submit"] {
    background: rgba(206, 58, 58, 0.726);
    color: #000;
}
  
