/* Modified and based from: https://codepen.io/Bilal1909/pen/KKzjgzR */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #4A5043;
    font-family: sans-serif;
}

.center {
    position: relative;
    padding: 5px 25px;
    background: #fff;
    border-radius: 10px;
}

.center h1 {
    font-size: 2em;
    border-bottom: 5px solid #FFCB47;
    padding: 10px;
    color: #000;
    margin-bottom: 10px;
    padding-left: 10px;
}

.center .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
}

.center .inputbox select {
    margin-top: 10px;
}

#originalclass {
    background-color: #B9D8C2;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}

#targetclass {
    background-color: #B9D8C2;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}

#networkclass {
    padding: 5px;
    margin: 5px;
}

#walletclass {
    padding: 5px;
    margin: 5px;
}

.center .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}
.center .inputbox:last-child {
    margin-bottom: 0;
}

.center .inputbox [type="submit"] {
    width: 50%;
    height: 100%;
    background: #8AA1B1;
    color: #fff;
    border: #fff;
    font-size: 2em;
    border-radius: 20px;

}

.center .inputbox:hover [type="submit"] {
    background: #FFCB47;
    color: #000;
}

#approve_swap {
    background-color: green;
    border-radius: 20px;
}

#decline_swap {
    background-color: red;
    border-radius: 20px;
}

#approve_swap, #decline_swap {
    display: inline-block;
} 
  
.hidden {
    display: none;
}

.homepage {
    background-color: #B9D8C2;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
    color: black;
    border-radius: 20px;
    margin-bottom: 50px;
}
      
.homepage:hover, .homepage:active {
    background-color: rgb(237, 236, 240);
}

#status_message {
    color: red;
}