{% extends 'base.html' %}

{% block main %}
<div class="center">
    <h1>Token Swap</h1>
    <h4>These transaction details are correct as at {{timestamp}}, prices are subject to change.</h4>
    <p>Your network: {{network}}</p>
    <p>Your Wallet Address: {{user_address}}</p>
    <p>Your Wallet Private Key: {{priv_key}}</p>
    <p>Original Token: {{original_token}}</p>
    <p>Amount of Original Token: {{original_amount}}</p>
    <p>Target Token: {{target_token}}</p>
    <p>Amount of Target Token: {{target_amount}}</p> 
    <p>{{message}}</p>
    <form id="contract-form" method="POST" action="/execute">
      <div class="hidden">
        <div class="inputbox">
          <input value="{{network}}" type="hidden" class="form-control" name="network" id="network" required="true" readonly>
        </div>
      </div>
      <div class="hidden">
        <div class="inputbox">
          <input value="{{user_address}}" type="hidden" class="form-control" name="userAddress" id="userAddress" required="true" readonly>
        </div>
        
        <div class="inputbox">
          <input value="{{priv_key}}" type="hidden" class="form-control" name="privKey" id="privKey" required="true" readonly>
        </div>
      </div>
      <div class="hidden">
        <div class="inputbox">
          <input value="{{original_token}}" type="hidden" class="form-control" name="ogToken" id="ogToken" required="true" readonly>
        </div>
        <div class="inputbox">
            <input value="{{original_amount}}" type="hidden" class="form-control" name="ogAmount" id="ogAmount" required="true" readonly>
        </div>
      </div>
      <div class="hidden">
        <div class="inputbox">
          <input value="{{target_token}}" type="hidden" class="form-control" name="targetToken" id="targetToken" required="true" readonly>
        </div>
        <div class="inputbox">
          <input value="{{target_amount}}" type="hidden" class="form-control" name="targetAmount" id="targetAmount" required="true" readonly>  
        </div>
      </div>
        <div class="inputbox">
          <button type="submit" class="btn btn-primary" value="execute">Execute</button>
        </div>
          <a href="/" class="homepage">Back to swap page</a>
      </form>
  </div>
{% endblock %}

{% block script %}
{% endblock %}